/*
* JVStyle
* @author Sovex66
* @date 25/08/2016
*/

/* Général */
QMainWindow
{
    background: #DBDBDB;
}
QMenuBar
{
    background: #19709E;
}
QMenuBar::item
{
    color: white;
    background: #19709E;
}
QMenuBar::item:selected
{
    background: #003E5D;
}
respawnIrcClass > QTabWidget:pane
{
	border: 0px;
}

/* Tabs des topics */
respawnIrcClass > QTabWidget > QTabBar::tab
{
    padding: 5px;
    color: white;
    background-color: #003E5D;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #003E5D;
}
respawnIrcClass > QTabWidget > QTabBar::tab:selected
{
    color: #FF6600;
    background-color: white;
    border-bottom-color: #FF6600;
}
respawnIrcClass > QTabWidget > QTabBar::tab:hover:!selected
{
    color: #FF6600;
    background-color: white;
    border-bottom-color: white;
}

/* Sections des messages */
QTextBrowser, QTextEdit, QLineEdit
{
    selection-color: white;
    selection-background-color: #338FFF;
}

/* Scrollbar*/
QScrollBar
{
	background: #F2F2F2;
	margin: 0px;
}

QScrollBar::handle:vertical
{
	background-color: rgb(200, 200, 200);
	min-height: 10px;
}
QScrollBar::handle:horizontal
{
	background-color: rgb(200, 200, 200);
	min-width: 10px;
}

QScrollBar::up-arrow, QScrollBar::down-arrow, QScrollBar::add-page, QScrollBar::sub-page, QScrollBar::sub-line, QScrollBar::add-line
{
	border: 0px;
	width: 0px;
	height: 0px;
	background: none;
}

/* Barre de séparation */
QSplitter:handle
{
    background: #6C7984;
}

/* Liste des topics */
QTabWidget QListView
{
    color: #B5B5B5;
    padding-top: 4px;
    background-color: #2A2A2A;
	outline: none;
}
QTabWidget QListView::item:hover
{
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
QTabWidget QListView::item:selected
{
    color:  white;
    background-color: rgba(0, 0, 0, 100);
}

/* Décoration de texte */
QPushButton#boldButton, QPushButton#italicButton, QPushButton#underlineButton, QPushButton#strikeButton, 
QPushButton#ulistButton, QPushButton#olistButton, QPushButton#quoteButton, QPushButton#codeButton, QPushButton#spoilButton
{
    color: #8A8A8A;
	background: #E6E6E6;
    font: 12px;
    min-width: 30px;
    padding: 0px 4px 0px 4px;
    min-height: 17px;
	border: 1px solid #B3B3B3;
	font-weight: bold;
	outline: none;
}
QPushButton#boldButton:focus, QPushButton#italicButton:focus, QPushButton#underlineButton:focus, QPushButton#strikeButton:focus, 
QPushButton#ulistButton:focus, QPushButton#olistButton:focus, QPushButton#quoteButton:focus, QPushButton#codeButton:focus, QPushButton#spoilButton:focus
{
    color: #404040;
}
QPushButton#boldButton:hover, QPushButton#italicButton:hover, QPushButton#underlineButton:hover, QPushButton#strikeButton:hover, 
QPushButton#ulistButton:hover, QPushButton#olistButton:hover, QPushButton#quoteButton:hover, QPushButton#codeButton:hover, QPushButton#spoilButton:hover
{
    color: black;
}
QPushButton#boldButton:pressed, QPushButton#italicButton:pressed, QPushButton#underlineButton:pressed, QPushButton#strikeButton:pressed, 
QPushButton#ulistButton:pressed, QPushButton#olistButton:pressed, QPushButton#quoteButton:pressed, QPushButton#codeButton:pressed, QPushButton#spoilButton:pressed
{
    background: #CCCCCC;
}

/* Zone d'édition de texte */
QTextEdit
{
    color: black;
    padding: 4px;
    background: white;
    border-color: #F3F3F5;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}
/* Bouton d'envoie du message */
QPushButton#sendButton
{
    color: white;
    font: 16px;
    font-weight: 700;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-bottom: 0;
    padding: 0 40px;
    background: #FD612C;
	outline: none;
}
QPushButton#sendButton:focus
{
    color: #000;
    background: #D75628;
}
QPushButton#sendButton:hover
{
    color: #000;
    background: #C85025;
}
QPushButton#sendButton:pressed
{
    color: #FFF;
    background: #B64821;
}