QMainWindow, QDialog
{
	background: dimgrey;
}

QLabel, QGroupBox, QCheckBox
{
	color: lightgrey;
}

QMenuBar
{
	background: grey;
}

QMenuBar::item
{
	background: grey;
	color: lightgrey;
}

QMenuBar::item:selected
{
	background: darkgrey;
	color: black;
}

QMenu
{
	background: grey;
	color: lightgrey;
	border: 1px solid darkgrey;
}

QMenu::item:selected
{
	background: darkgrey;
	color: black;
}

QMenu::item:disabled
{
	color: dimgrey;
}

QTextEdit, QLineEdit
{
	background: darkgrey;
	color: black;
	border: 1px solid grey;
}

QLineEdit:disabled
{
    background: grey;
}

QTextBrowser
{
	background: grey;
	color: lightgrey;
	border: 0px;
}

QListView
{
	background: grey;
	color: lightgrey;
	border: 0px;
}

QDialog QListView
{
	background: grey;
	color: lightgrey;
	border: 1px solid darkgrey;
}

QListView::item:hover
{
	background: dimgrey;
}

QListView::item:selected
{
	background: dimgrey;
}

QTabWidget::pane
{
    border: 2px solid darkgrey;
}

QSplitter:handle
{
    background: darkgrey;
}

QTabBar::tab
{
    border: 2px solid darkgrey;
	color: lightgrey;
	border-bottom: 0px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
}

QTabBar::tab:!selected
{
	background: dimgrey;
	margin-top: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover
{
	background: grey;
}

QPushButton
{
    background: lightgrey;
    color: dimgrey;
	border: 2px solid darkgrey;
	padding: 3px;
	min-width: 50px;
}

QPushButton#boldButton, QPushButton#italicButton, QPushButton#underlineButton, QPushButton#strikeButton, 
QPushButton#ulistButton, QPushButton#olistButton, QPushButton#quoteButton, QPushButton#codeButton, QPushButton#spoilButton
{
	min-width: 40px;
	margin-right: 3px;
}

QPushButton:hover, QPushButton:focus:hover
{
	background: #f2f2f2;
}

QPushButton:focus
{
	background: #e6e6e6;
}

QPushButton:pressed, QPushButton:focus:pressed
{
	background: #bfbfbf;
}

QPushButton:!enabled
{
	background: #b3b3b3;
}

QScrollBar
{
	background: grey;
	margin: 0px;
}

QScrollBar::handle
{
	background: darkgrey;
	border: 2px solid dimgrey;
}

QScrollBar::up-arrow, QScrollBar::down-arrow, QScrollBar::add-page, QScrollBar::sub-page, QScrollBar::sub-line, QScrollBar::add-line
{
	border: 0px;
	width: 0px;
	height: 0px;
	background: none;
}