QMainWindow
{
    background: black;
}

QMenuBar
{
    background: orange;
}

QTextEdit
{
    background: pink;
}

QLineEdit
{
    background: pink;
}

QTextBrowser
{
    background: blue;
}

QPushButton
{
    background: red;
}

QPushButton#sendButton
{
	background: brown;
}

QListView
{
    background: purple;
}

QSplitter:handle
{
    background: green;
}

QScrollBar
{
    background: magenta;
}

QTabBar:tab
{
    background: yellow;
}

QTabWidget:pane
{
    border: 2px solid cyan;
}